*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Roboto", sans-serif;
    font-weight: bold;
}
nav {
    height: 50px;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
/* Add media query for smaller screens */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Let it adjust height based on content */
    }
}
a {
    text-decoration: none;
}
nav .logo a{
    color: white ;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease;
}
nav .logo:hover {
    transform: translatey(-3px);
}
nav .navitems li {
    font-size: 1.3rem;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}
nav .navitems li a {
    color: white;
    transition: all 0.3s ease;
}
nav .navitems li a:hover {
    background-color: white;
    color: #333333;
    padding: 5px;
    border-radius: 10px;
}
.custom-shape-divider-bottom-1712550180 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712550180 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1712550180 .shape-fill {
    fill: #141414;
}
hero {
    height: 600px;
    width: 100%;
    background-image: url(images/3.jpg);
    background-position: center;
    display: grid;
    position: relative;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 20px;
}
hero .herob {
    display: flex;
    justify-content: start;
}
hero button{
    height: 70px;
    width: 150px;
    margin: 0 20px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background-color: white ;
    border: solid white;
    border-radius: 10px;
}
hero button:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}
.section2 {
    background-color: #141414;
    height: 710px;
    width: 100%;
}
.section2 h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-style: bold;
    padding: 10px;
}
.catagories {
    justify-content: center;
    height: 100px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.catagories1 {
    display: grid;
    margin: 0 auto;
}
.catagories2 {
    margin: 0 auto;
    display: grid;
}
.catagories3 {
    margin: 0 auto;
    display: grid;
}
.PC-setup {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(122, 122, 255);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Laptop {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 134, 255);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Headphones {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 133, 153) ;
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Mouse {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 118, 255);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Keyboard {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 255, 127);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Monitor {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 211, 129);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.CPU {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(126, 255, 255);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.GPU {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 128, 128);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.RAM {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(208, 255, 138);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.HDD {
    border: solid transparent;
    border-radius: 10px;
    background-color: lightblue;
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Power-Supply {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(255, 173, 125);
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.Motherboard {
    border: solid transparent;
    border-radius: 10px;
    background-color: rgb(140, 255, 217) ;
    margin: 20px;
    height: 120px;
    width: 120px;
    font-size: 1rem;
}
.PC-setup:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Laptop:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Headphones:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Mouse:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Keyboard:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Monitor:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.CPU:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.GPU:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.RAM:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.HDD:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Power-Supply:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}

.Motherboard:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    transition:all 0.3s;
}
.custom-shape-divider-bottom-1712379541 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712379541 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 97px;
}

.custom-shape-divider-bottom-1712379541 .shape-fill {
    fill: #141414;
}
.custom-shape-divider-top-1712481040 {
    fill: #141414;
}

.section3 {
    height: 600px;
    width: auto;
    background-color: #ff7300;
}
h3 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-style: bold;
    padding: 10px;
}
.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}
.rsb {
    height: 300px;
    width: 300px;
    border: solid transparent;
    border-radius: 20px;
    font-size: 1rem;
    background-color: white;
}
.usb {
    height: 300px;
    width: 300px;
    border: solid transparent;
    border-radius: 20px;
    font-size: 1rem;
    background-color: white;
}
.ccs {
    height: 300px;
    width: 300px;
    border: solid transparent;
    border-radius: 20px;
    font-size: 1rem;
    background-color: white;
}
.rsb:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transition:all 0.3s;
}
.usb:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transition:all 0.3s;
}
.ccs:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transition:all 0.3s;
}


.custom-shape-divider-bottom-1712533792 .shape-fill {
    fill: #ff7300;
}
.section4 {
    height: 700px;
    width: 100%;
    background-color: #141414;
}
.Social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}
h4 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-style: bold;
    padding: 10px;
}
.socialp {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    align-items: center;
    margin: 20px;
    padding: 20px;
    color: white;
}
.socialb {
    margin: 50px;
}
.social1 {
    display: flex;
    margin: 20px;
}
.social2 {
    display: flex;
    margin: 20px
}
.fb {
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: solid blue;
    background-color: white;
    border-radius: 20px;
}
.ifb {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: white;
    align-items: center;
    display: flex;
    margin: auto;
}
.ig {
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: solid rgb(225, 48, 108);
    background-color: white;
    border-radius: 20px;
}
.iig {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: white;
    align-items: center;
    display: flex;
    margin: auto;
}
.yt {
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: solid rgb(255, 0, 0);
    background-color: white;
    border-radius: 20px;
}
.iyt {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-size: 1rem;
    align-items: center;
    display: flex;
    margin: auto;
}
.wa {
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: solid rgb(0, 255, 76);
    background-color: white;
    border-radius: 20px;
}
.iwa {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-size: 1rem;
    align-items: center;
    display: flex;
    margin: auto;
}
.fb:hover {
    transform: translatey(-5px);
    box-shadow: 0 0 5px blue, 0 0 25px blue;
    transition:all 0.3s;
}
.ig:hover{
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(225, 48, 108), 0 0 25px rgb(225, 48, 108);
    transition:all 0.3s;
}
.yt:hover{
    transform: translatey(-5px);
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0);
    transition:all 0.3s;
}
.wa:hover{
    transform: translatey(-5px);
    box-shadow: 0 0 5px green, 0 0 25px green;
    transition:all 0.3s;
}
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}
.contact1 {
    height: 200px;
    width: 300px;
    display: grid;
    justify-content: start;
    align-items: center;
    margin: 20px 20px;
    padding: 30px;
    color: black;
    border: solid blue ;
    border-radius: 30px;
}

.contact2 {
    height: 200px;
    width: 300px;
    display: grid;
    justify-content: start;
    align-items: center;
    margin: 20px 20px;
    padding: 30px;
    color:rgb(0, 0, 0);
    border: solid rgb(225, 48, 108);
    border-radius: 30px;
}
.custom-shape-divider-bottom-1712548770 .shape-fill {
    fill: #141414;
}
